[MAIN]
persistent = no

[FORMAT]
max-line-length = 100

[BASIC]
class-const-naming-style = any

[MESSAGES CONTROL]
disable =
    duplicate-code,
    not-callable,
    too-few-public-methods

[TYPECHECK]
generated-members =
    config,
    configure,
    begin_transaction,
    run_migrations,
    is_offline_mode
